* {
    padding: 0;
    border: none;
    margin: 0;
}

:root {
    --bg-clr: 1.2;
    --sun-size: 100px;
    --sun-displace: calc(calc(var(--sun-size) / 2) * (-1));
}

.location{
    display: flex;
    gap: 20px;
    /* & > * {
        flex: 1;
    } */
}

.day {
    display: grid;
    grid-template-rows: 40px 120px 40px;
    grid-template-columns: 200px 30px;
    flex-shrink: 0;
    flex-basis: 300px;
    border: 1px solid black;
    border-radius: 15px;
    padding: 10px; 
    margin: 10px;
    .date-text {
        grid-area: 1 / 1 / 2 / 2;
    }

    .day-icon {
        grid-area: 2 / 1 / 3 / 2;
        & > * {
            position: relative;
        }
    }

    .rain-meter {
        grid-area: 1 / 2 / 4 / 3;
        --fill: 30%;
        background: linear-gradient(
            to top,
            blue var(--fill),
            white var(--fill)
        );
        border-radius: 10px;
    }

    .temperature-text {
        grid-area: 3 / 1 / 4 / 2;
    }
}

.icon-container{
    border: 1px solid black;
    border-radius: 10%;
    position: relative;
    width: 100px;
    height: 100px;
    overflow: hidden;
    .sun{
        position: absolute;
        left: var(--sun-displace);
        top: var(--sun-displace);
        z-index: 1;
        width: var(--sun-size);
        height: var(--sun-size);
        transform: rotate(15deg);
    }
    .cloud{
        position: absolute;
        z-index: 2;
        bottom: 0;
        right: 0;
    }
}